__name__ = "Year View"
__author__ = "Decklin Foster <decklin@red-bean.com>"
__description__ = "Calendar of all dates in a given year."

import time

def make(self, entries, vars):
    cal = {}
    for e in entries:
        m = time.strftime('%m', e.date)
        d = time.strftime('%d', e.date)
        cal.setdefault(m, {})
        cal[m].setdefault(d, 0)
        cal[m][d] += 1

    vars['title'] = 'Year %s - %s' % (self.where[-2], vars['blogname'])
    vars['body'] = '\n'.join([self.expand('calendar',
        y=self.where[-2], m=month, days=days, **vars)
        for month, days in cal.items()])

    return self.expand('page', **vars)
